NAME=br{{ bridge }}
DEVICE=br{{ bridge }}
{% set iface = 'ansible_' + iface_name %}
IPADDR={{ hostvars[inventory_hostname][iface]['ipv4']['address'] }}
NETMASK={{ hostvars[inventory_hostname][iface]['ipv4']['netmask'] }}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['interface'] == iface_name %}
GATEWAY={{ hostvars[inventory_hostname]['ansible_default_ipv4']['gateway'] }}
{% endif %}
IPV6INIT=no
IPV6AUTOCONF=no
DELAY=0
STP=yes
ONBOOT=yes
BOOTPROTO="static"
TYPE="Bridge"
NOZEROCONF="yes"
